body{
    margin: 0;
    padding: 0;
}

#nav-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 135, 96);
}

#nav-links{
    width: 50%;
    margin-left:10%;
    display: flex;
    justify-content: space-evenly;
}

#logo{
    /* border: 2px solid red; */
    width: 25%;
    display: flex;
    justify-content: center;
}

a{
    padding: 10px;
    text-decoration: none;
    font-size: 23px;
    color: rgb(141, 80, 7);
    font-weight: 530;

}

#loginform,#quizform{
   
width: 30%;
margin: 40px auto;
border: 2px solid rgb(16, 135, 96);;
display: flex;
flex-direction: column;
justify-content: center;
padding: 30px;
border-radius: 10px;

}

h2{
    margin-top: -10px;
    text-align: center;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#submit{
    margin-top: 10px;
    background-color: rgb(16, 135, 96);
    color: white;
    font-weight: bold;
}
#submit:hover{
    color: rgb(16, 135, 96);
    border: 2px  solid rgb(16, 135, 96);
    background-color: white;
}

input,select{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid rgb(16, 135, 96);

}
input::placeholder{
    color: black;
}
label{
    font-size: 18px;
}